form {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.inputForm {
  width: 200px;
}

.submitButton {
  margin-top: 10px;
  margin-left: 32px;
  width: 319px;
}
.editSubmitButton {
  margin-top: 21px;
  margin-left: 32px;
  margin-bottom: 48px;
  width: 319px;
}

.addButton {
  margin-left: 10px;
  width: 90px;
}

.inputText {
  border-color: red;
}

.loginButton {
  margin-top: 21px;
  margin-bottom: 48px;
  margin-left: 32px;
  width: 319px;
}