.button_signUp {
  border: 1px solid #52C41A;
  //box-sizing: border-box;
  border-radius: 5px;
  color: #52C41A;
}

.right_block {
  margin-right: 22px;
}

.button_logOut {
  border: 1px solid rgba(0, 0, 0, 0.75);
  width: 109px;
  height: 51px;
  //box-sizing: border-box;
  border-radius: 5px;
  color: black;
}