.button_signUp {
  border: 1px solid #52C41A;
  border-radius: 5px;
  color: #52C41A;
}
.button_create {
  border: 1px solid #52C41A;
  margin-right: 36px;
  border-radius: 5px;
  color: #52C41A;
}

.right_block {
  margin-right: 22px;
}

.button_logOut {
  border: 1px solid rgba(0, 0, 0, 0.75);
  width: 109px;
  height: 51px;
  border-radius: 5px;
  color: black;
}

.button_edit {
  border: 1px solid #52C41A;
  margin-right: 16px;
  border-radius: 5px;
  color: #52C41A;
}
.button_del {
  border: 1px solid #F5222D;
  margin-right: 16px;
  border-radius: 5px;
  color: #F5222D;
}